#kalendarz {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#dni-tygodnia {
    display: flex;
    /* margin: 10px; */
    justify-content: center;
}

.dzien-tygodnia {
    margin: 0 10px 0 10px;
    font-size: 22px;
    border: 2px solid ;
    border-radius: 6px;
    width: 60px;
    padding: 10px;
    text-align: center;
    /* box-shadow: 5px 5px 5px 5px darkgreen; */
    box-shadow: inset 0 0 10px #000000;
}

#dni-miesiaca {
    display: flex;
    justify-content: center;
}

.dzien-miesiaca {
    margin: 20px 20px 0 20px;
    font-size: 22px;
    /* border: 2px solid ; */
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50px;
    /* padding: 10px; */
    padding: 10px 6px;
    text-align: center;
    box-shadow: 0px 0px 5px 2px darkgreen;
    /* box-shadow: inset 0 0 5px #000000; */
}

.dzien-miesiaca:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}