/* #test-image {
    border: 1px solid green;
    width: 300px;
    height: 300px;
    margin: 30px 0px 0 70px;

} */

.loga-sklepow {
    display: block;
}

#lista-sklepow {
    display: flex;
}

.opis-sklepow {
    /* display: block; */
    margin: 30px 0px 0 70px;
}

.nazwa-sklepu {
    font-size: large;    
}

.logo-sklepu {
    border: 1px solid green;
    width: 150px;
    height: 150px;
    margin: 30px 0px 0 70px;
}