#ziolo {
    display: flex;
    margin: 25px 0 0 25px;
}

.ziolo-image {
    width: 400px;
    height: 400px;
    padding-right: 10px;
}

.ziolo-text {
    /* display: flex; */
}

.ziolo-opis {
    width: 600px;
    /* padding-top: 0px; */
    margin-top: 5px;
}

.ziolo-nazwa {
    padding-bottom: 0px;
    font-size: large;
    font-weight: bold;
}