#ziolo {
    display: flex;
    margin: 25px 0 0 25px;
}

.ziolo-image {
    width: 200px;
    height: 200px;
    padding-right: 10px;
}

.ziolo-text {
    /* display: flex; */
}

.ziolo-opis {
    width: 600px;
    /* padding-top: 0px; */
    margin-top: 5px;
    margin-left: 20px;
}

.ziolo-nazwa {
    padding-bottom: 0px;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

.ziolo-wlasciwosci {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* margin: 20px 0; */
    margin-top: 76px;
}

.ziolo-wlasciwosci h2 {
    color: #2C5F2D;
}

.ziolo-wlasciwosci h3 {
    color: #3B7A57;
    margin-top: 15px;
}

.ziolo-wlasciwosci p {
    margin: 10px 0;
}

/* .miniatura {
    width: 200px;
    height: 150px;
    margin-top:20px;
} */

/* Gallery container styling
#galeria-zdjec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

Individual image styling
.miniatura {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.miniatura:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
} */


/* Gallery container styling */
#galeria-zdjec {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    width: 625px;
    gap: 15px;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-left: 20px;
}

/* Individual image styling */
.miniatura {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.miniatura:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}